/*~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~*/	
html,body 
{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	background-image:url("21.jpg");
}

/*~~~~~~~~~~~~~~~~~~~~~~~Logoo~~~~~~~~~~~~~~~~~~~~*/	
#logo
{
	height:130px;
	width: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Menu~~~~~~~~~~~~~~~~~~~~*/	
.menudiv
{
	margin:0 20px;
}
div.menudiv {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
	border-radius:5px;
}
div.menudiv a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}

div.scrollmenu a:hover {
    background-color: #777;
}


/*~~~~~~~~~~~~~~~~~~~~~~~Content~~~~~~~~~~~~~~~~~~~~*/	

.content1
{

	background-color:#9ACD32;
}
.content1 img{
	border:4px black solid;
	margin:24px;
	width:700px;
	height:250px;
}
.content2
{

	float:right;
	width:200px;
	padding:0 60px;
}
.content2 h3
{
	color:white;

}
.content2 button
{
	color:white;
	background-color:black;
	margin:0 0 10px 50px;
}
.content3
{
	border:1px black solid;
	margin:20px 25px;
	border-radius:10px;
	}
.content3 article
{
		
		margin:10px 30px 10px 90px;
}
.content3 article button
{
	color:blue;
	background-color:white;
	
}
#contenti
{
	float:right;
}
.blog
{
		border:4px black solid;
		width:400px;
		margin: 0 25px;
		width:800px;
}
#blog1
{
	background-color:red;
	border:3px red solid;


}
.ndarjet
{
		//border:3px red solid;
		margin: 20px 25px;
		width:800px;
			
}

.ndarjet table
{

margin:20px;
}


#22
{
	border:3px red solid;
}

#l2
{
	border:3px red solid;
}
#11
{
	border:3px red solid;
	background-color:red;
}
.imgg
{
	border:3px red solid;
}
#asidee
{
		border:3px red solid;

}
#catee
{
	border:3px red solid;
	    width: 350px;
    float: right;
	background-color:white;

}
#cateee
{
	    float: right;
		padding:50px;
		height:300px;
}
#comm
{
	border:3px red solid;
	float:right;
}


/*

#l1
{
	border:1px black solid;

}
#L11
{
	border:1px black solid;
	margin-bottom:40px;
	background-color:white;
	padding:10px;
	}
#L2
{
	border:1px black solid;
	background-color:white;
		padding:10px;

}



*/



/*~~~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~*/	
.after_footer
{

	background-color:#9ACD32;
	margin:0px;
	width:1000;
	height:200px;
	
	
}

.footer_bottom
{
	background-color:#9ACD32;
	height:50px;
	margin:0;
	padding:0;

}
	